<form name="registrationForm" method="post" action="/registration">

    <md-input-container class="md-icon-float" flex>
        <label>Фамилия</label>
        <md-icon>account_circle</md-icon>
        <input type="text" name="lastName" required>
    </md-input-container>

    <md-input-container class="md-icon-float" flex>
        <label>Имя</label>
        <md-icon></md-icon>
        <input type="text" name="firstName" required>
    </md-input-container>

    <md-input-container class="md-icon-float" flex>
        <label>Отчество</label>
        <md-icon></md-icon>
        <input type="text" name="fatherName" required>
    </md-input-container>

    <md-input-container class="md-icon-float" flex>
        <label>Электронная почта</label>
        <md-icon>mail</md-icon>
        <input type="email" name="email" required>
    </md-input-container>

    <md-input-container class="md-icon-float" flex>
        <label>Пароль</label>
        <md-icon>lock</md-icon>
        <input type="password" name="password" required>
    </md-input-container>

    <md-input-container class="md-icon-float" flex>
        <label>Повторите пароль</label>
        <md-icon></md-icon>
        <input type="password" name="confirmPassword" required>
    </md-input-container>

    <md-radio-group ng-model="user.type">
        <md-radio-button value="student" class="md-primary">Студент</md-radio-button>
        <md-radio-button value="tutor" class="md-primary">Тьютор</md-radio-button>
        <md-radio-button value="admin" class="md-primary">Администратор</md-radio-button>
    </md-radio-group>

    <input type="hidden" name="userType" value="{{user.type}}">

    <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="submit" ng-click="answer('useful')" class="md-accent md-raised">
            Зарегистрироваться
        </md-button>
    </div>

</form>
