<md-menu>
    <md-button aria-label="Options" class="md-icon-button" ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin>more_vert</md-icon>
        <md-tooltip>Действия</md-tooltip>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <md-button ng-click="ctrl.redial1($event)">
                <md-icon md-menu-align-target>edit</md-icon>
                Редактировать
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.redial1($event)">
                <md-icon md-menu-align-target>lock</md-icon>
                Сбросить пароль
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.redial2($event)">
                <md-icon md-menu-align-target>delete</md-icon>
                Удалить
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>