<h1>Мобильные операционные системы</h1>
<md-divider></md-divider>
<form>
    <h3>Вопрос 7</h3>
    <p>Какая ОС на данный момент является наиболее распространенной во всем Мире?</p>
    <md-radio-group>
        <md-radio-button value="1">Windows Phone</md-radio-button>
        <md-radio-button value="2">Android</md-radio-button>
        <md-radio-button value="3">iOS</md-radio-button>
        <md-radio-button value="4">Sailfish</md-radio-button>
        <md-radio-button value="5">Symbian</md-radio-button>
    </md-radio-group>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button>
            <md-icon>chevron_left</md-icon>
        </md-button>
        <md-button>Вопрос 7 из 25</md-button>
        <md-button>
            <md-icon>chevron_right</md-icon>
        </md-button>
        <span flex></span>
        <md-button type="submit" class="md-primary md-raised">
            Завершить тест
        </md-button>
    </div>
</form>