<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu">
            <md-icon>menu</md-icon>
            <md-tooltip>Меню</md-tooltip>
        </md-button>
        <span>Contester</span>
        <span flex></span>
        <!--<md-button ng-click="showRegistrationDialog($event)">Регистрация</md-button>-->
        <!--<md-button ng-click="showLoginDialog($event)" class="md-raised">Вход</md-button>-->
        <md-button>О сервисе</md-button>
        <md-button class="md-icon-button" aria-label="Options">
            <md-icon>more_vert</md-icon>
            <md-tooltip>Действия</md-tooltip>
        </md-button>
    </div>
</md-toolbar>